#firstlast{
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#textfield1_fb{
    font-size: 14px;
    line-height: 1.4286;
    color: #202124;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    margin: 30px;
    margin-left: 50px;
}
#passcon{
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#container{

    display: flex;
    align-items: center;
    justify-content: center;
}
#form_fb{
    border: 0.5px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90vh;
    width: 60vw;
    margin: 30px;
}
#outlined-basic{
    /* border: 5px solid red; */
    margin: 5px;
    padding: 5px;
}
#button2_fb{
    background-color:transparent;
    color: #1a73e8;
    box-shadow: none;
}
#button1_fb{
    margin: 10px;
    margin-left: 50px;
    background-color:transparent;
    color: #1a73e8;
    box-shadow: none;
}
#buttons{
    display: flex;
    justify-content: space-evenly;
    margin-left: -120px;
}
#heading1_fb{
    /* border: 5px solid red; */
    margin: 50px;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
}
#passcon2{
    margin-left: 60px;
    margin-top: -20px;
}
#email_fb{
    margin-left: 65px;
}
#emailtest{
    margin: 5px;
}
#googlesvg{
    margin-left: 50px;
}
#outlined-basic-d{
    height: 5px;
    width: 440px;
}