#form_fb{
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
#img_fb{
    /* border: 5px solid red; */
    transform: translate(350px,100px);
}
#outlined-basic{
    /* border: 5px solid red; */
    margin: 5px;
    padding: 5px;
}
#textfield1_fb{
    font-size: 14px;
    line-height: 1.4286;
    color: #202124;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    margin: 50px;
}
#content_fb{
    /* border: 5px solid red; */
    margin-top: -200px;
}
#button2_fb{
    background-color:transparent;
    color: #1a73e8;
    box-shadow: none;
    margin-left: 30px;
}
#button1_fb{
    background-color:transparent;
    color: #1a73e8;
    box-shadow: none;
    margin-left: 30px;
}
#heading1_fb{
    margin: 50px;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
}
#textfield2_fb{
    margin-left: 10px;
}
#textfield3_fb{
    margin-left: -30px;
}
#button3_fb{
    margin-left: 150px;
}
