#container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 50px;
}
#form_fb{
    padding: 35px;
    border: 0.1pt solid black;
    width: 55%;
    height: 650px;
}
#firstlast{
    display: flex;
    flex-direction: row;
}
#lastname_fb{
    margin-left: 20px;
}
#passcon{
    display: flex;
    flex-direction: row;
}
#textfield2_fb{
    margin-left: 20px;
}
#button1_fb{
    background-color:transparent;
    color: #1a73e8;
    box-shadow: none;
    text-transform: none;
}
#buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 110%;
    margin-left: -155px;
    margin-top: -30px; /*Doubt->Ask Sir about this*/ 
}
#button2_fb{
    background-color:transparent;
    color: #1a73e8;
    box-shadow: none;
    text-transform: none;
}
#img_fb{
    /* border: 5px solid red; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: -450px;
}
#emailtest{
    color: #757575;
}
#passcon2{
    color: #757575;
}
#heading1_fb{
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-weight: 400;
    line-height: 1.3333;
    padding: 2px;
}
#button2_fb_multi{
    text-transform: none;
    color: #757575;
    background-color:transparent;
    box-shadow: none;
}
#button3_fb{
    background-color: #1a73e8;
}
#img_text_fb{
    /* border: 5px solid red; */
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    color: #202124;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}
#section2_multi{
    display: flex;
    flex-direction: row;
}
#section2_multi_1{
    width: 550px;
}
#section2_multi_2{
    display: flex;
    flex-direction: row;
}
#googlesvg{
    padding: 10px;
}