#maincontainer_change{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#main_change{
    border: 0.5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    margin: 50px;
}

#signin_fb_change{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#signin_fb1_change{
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
}
#signin_fb2_change{
    color: #202124;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
}
#email_fb_change{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
#button1_change{
    background-color:transparent;
    color: #1a73e8;
    box-shadow: none;
    text-transform: none;
}
#learnmore_fb_change{
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #5f6368;
    font-size: 14px;
    line-height: 1.4286;
    margin-left: -95px;
}
#learnmore_button_change{
    background-color:transparent;
    color: #1a73e8;
    box-shadow: none;
    text-transform: none;
}
#buttons_change{
    width: 135%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
#button2_fb_change{
    text-transform: none;
    color: #757575;
    background-color:transparent;
    box-shadow: none;
}
#button3_fb_change{
    text-transform: none;
    background-color: #1a73e8;
    
}
#english_fb_change{
    margin: 5px;
}
#section2_change{
    margin-top: -35px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
#button5_fb_change{
    text-transform: none;
    background-color:transparent;
    color: #1a73e8;
    box-shadow: none;
}
#googlesvg_change{
    margin-left: 45px;
    margin-top: 10px;
}
#section2_change{
    display: flex;
    flex-direction: row;
}
#section2_change_1{
    width: 335px;
    padding: 5px;
}
#section2_change_2{
    display: flex;
    flex-direction: row;
}